<mat-card class="admin-card">
  <mat-card-header>
    <mat-card-title>Administração do Jogo</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="quarter-controls mt-4 mb-4">
      <button mat-raised-button color="primary" (click)="changeQuarter(-1)">Quartil Anterior</button>
      <h6>Quartil Atual: {{ currentQuarter }}</h6>
      <button mat-raised-button color="primary" (click)="changeQuarter(1)">Próximo Quartil</button>
    </div>
    <div class="timer-controls">
      <div class="timer-section">
        <h3>{{attackTimeLeft}}</h3>
        <h3>{{formatTime(gameTimeLeft)}}</h3>
      </div>
      
    </div>
    <div class="attack-buttons">
      <button mat-icon-button color="primary" (click)="startAttackTimer()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="pauseAttackTimer()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="resetAttackTimer()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="score-controls">
      <div class="team-score">
        <img class="team-logo" [src]="teamHome.logo" alt="Time B Logo" />
        <h2>{{ teamHome.points }}</h2>
        <h3>{{ teamHome.name }}</h3>
        <div class="score-buttons">
          <button mat-mini-fab color="primary" (click)="incrementScore('A', 1)">+1</button>
          <button mat-mini-fab color="primary" (click)="incrementScore('A', 2)">+2</button>
          <button mat-mini-fab color="primary" (click)="incrementScore('A', 3)">+3</button>
          <button mat-mini-fab color="warn" (click)="decrementScore('A', 1)">-1</button>
        </div>
      </div>
      <div class="team-score">
        <img class="team-logo" [src]="teamAway.logo" alt="Time B Logo" />
        <h2>{{ teamAway.points }}</h2>
        <h3>{{ teamAway.name }}</h3>

        <div class="score-buttons">
          <button mat-mini-fab color="primary" (click)="incrementScore('B', 1)">+1</button>
          <button mat-mini-fab color="primary" (click)="incrementScore('B', 2)">+2</button>
          <button mat-mini-fab color="primary" (click)="incrementScore('B', 3)">+3</button>
          <button mat-mini-fab color="warn" (click)="decrementScore('B', 1)">-1</button>
        </div>
      </div>
    </div>

    <button mat-raised-button class="mt-3" color="accent" (click)="startListening()">Iniciar Comandos de Voz</button>
  </mat-card-content>
</mat-card>
